****estilos.css****

@font-face {
    font-family:titulo;
    src: url(../fontes/ANODETONOONE.TTF);
}
H1 {
    font-family: titulo;
    font-size: 40px;
    color: #603A03;
}   

body {
    background-image: url(../imgs/fundo.jpg);
}
#container {
    width:950px;
    height:auto;
    
}
body {background-image:url(../imgs/fundo.jpg);
    width:950px;
    height:auto;
    position:relative;
    margin-left:auto;
    margin-right:auto;
   
}

#fundoGame {
    width: 950px;
    height: 630px;
    bachground-image: url(../imgs/fundoGame.jpg);
    border-color:#fff;
    border-style:solid;

}